/* universal  */
*{
    margin: 0;
    padding: 0;
    font-family: "Fira Sans", sans-serif;
    box-sizing: border-box;
    
}
body{
    background-color: #F1F1F3;
}

/* common styles */

.container{
    max-width: 1280px;
    margin: 0 auto;
}

.btn-one{
    padding: 15px 30px;
    border: 1px solid #006A50;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 600;
}

.btn-two{
    padding: 17px 34px;
    font-size: 18px;
    font-weight: 600;
    color: white;
    border-radius: 8px;
    background-color:#006A50;
    border: none;
}

p{
    color: rgba(14, 14, 14, 0.7);
}
h3{
    font-size: 40px;
    font-weight: 700;
}

/* header section styles here */
header{
    max-width: 1600px;
    margin: 0 auto;
    background-color: #defff7;
    padding: 24px 160px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* ------hero section style ----*/
.hero-section{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 100px;
    border-radius: 24px;
    background-color: rgba(198, 228, 214, 1);
}

.hero-section h4{
    color: rgba(14, 14, 14, 0.5);
    margin-bottom: 16px;
}
.hero-section h2{
    font-size: 56px;
    font-weight: 700;
    margin-bottom: 24px;
}

/* -----vision section style */
.vision-section{
    margin-top: 80px;
}

.vision-p{
    margin: 24px 0px;
}

.card-container{
    display: flex;
    gap: 20px;
}

.card{
    border-radius: 16px;
    background: rgba(84, 144, 245, 0.2);
    padding: 32px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.card-btn{
    width: 122px;
    border-radius: 8px;
    background-color: rgba(84, 144, 245, 1);
    padding: 11px 20px;
    border: none;
    color: white;
}

.card-btn-two{
    background-color: rgba(9, 161, 92, 1);
}
.card-btn-three{
    background: rgba(255, 194, 57, 1);
}


.card-two{
    background-color: rgba(198, 228, 214, 1);
}
.card-three{
    background: rgba(247, 235, 207, 1);
}

/* quote section style */
.quote-section{
    margin-top: 32px;
    padding: 48px 24px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgba(255, 255, 255, 1);

}
.quote-section h5{
    margin-top: 12px;
    margin-bottom: 4px;
}


/* opinion section style here */
.opinion-section{
    margin-top: 80px;
    margin-bottom: 80px;
}

/* table style */
.opinion-table{
    margin-top: 24px;
    border-radius: 16px;
    background-color: rgba(255, 255, 255, 1);
    padding: 30px 30px;
}
table{
    width: 100%;
    border-collapse: collapse;
}
th{
    background-color: rgba(198, 228, 214, 1);
    font-size: 20px;
    font-weight: 600;
    text-align: start;
    
}
.table-head-2nd{
    text-align: center;
    border-left: none;
}

table td, th{
    border: 1px solid rgba(14, 14, 14, 0.15);
    background-color: none;
    padding: 24px;
}

td button{
    border: 1px solid rgba(14, 14, 14, 1);
    border-radius: 4px;
    padding: 10px 14px;
    background-color: rgba(198, 228, 214, 1);
}
.btn-box{
    text-align: center;
}


/* recent-news style */
.news-card{
    border-radius: 24px;
    background-color: rgba(255, 255, 255, 1);
    padding: 48px;
    display: flex;
    gap: 32px;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 24px;
}
.news-card img{
    border-radius: 24px;
}

.card-content{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.card-content h4{
    font-size: 32px;
    font-weight: 700;
}
.card-content p{
    display: inline;
    padding-left: 12px;
}

.card-content button{
    width: 139px;
    padding: 13px 26px;
    border-radius: 8px;
    background: rgba(0, 106, 80, 1);
    border: none;
    color: white;
}

.news-card-2nd{
    flex-direction: row-reverse;
}

/* --donate section style */

.donate-section{
    margin-top: 60px;
    text-align: center;
}

.donate-section p{
    margin: 25px 0px;
}

.btn-div{
    width: 100%;
    text-align: center;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 24px;
}
.btn-div button{
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background-color: rgba(255, 255, 255, 1);
    padding: 40px;
    font-size: 40px;
    font-weight: 700;
    color: rgba(14, 14, 14, 0.8);
}
#donate-btn-two{
    background-color: rgba(198, 228, 214, 1);
}
#donate-input{
    width: 80%;
    padding: 20px 40px;
    margin: 32px 0px;
    border: none;
}

/* newsletter section starts here */
.newsletter-section{
    margin: 80px auto;
    padding: 80px 100px;
    border-radius: 24px;
    background-color: rgba(198, 228, 214, 1);
    text-align: center;
}
.newsletter-section p{
    margin: 20px 0px;
}
#newsletter-input{
    width: 80%;
    padding: 20px 40px;
    margin: 20px 0px;
    border: none;
}

#btn-newsletter{
    border-radius: 0px 8px 8px 0px;
    margin-left: -2px;
    
}